@model NumberGuessingGame.ViewModels.SecretNumberViewModel
@using NumberGuessingGame.Models

@{
	string outcome = Model.LastGuessOutcome;
}

<div id="last-guess">
	<p>@Html.Raw(outcome)</p>
</div>

<div id="previous-guesses" class="clearfix">
@for (var i = 0; i < Model.GuessedNumbers.Count(); i++)
{
	<div class="previous-guess">
		<div class="head">
			@(i+1)
		</div>

		@if (Model.GuessedNumbers[i].Outcome == Outcome.Right)
		{
			<div class="body correct border-box">
				<p class="correct">@Model.GuessedNumbers[i].Number</p>
			</div>
		}
		
	
		else if (Model.GuessedNumbers[i].Outcome == Outcome.High)
		{
			<div class="body high border-box">
				<p class="icon">↑</p>
				<p class="number">@Model.GuessedNumbers[i].Number</p>
			</div>
		}
		
		else
		{
			<div class="body low border-box">
				<p class="icon">↓</p>
				<p class="number">@Model.GuessedNumbers[i].Number</p>
			</div>
		}
	</div>
}
</div>